body {
    background: palevioletred;
    text-align: center;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px;
}
.container {
    background: white;
    padding: 30px 40px;
    text-align: center;
    border-radius: 12px;
}

